<form action="/add" method="POST">
    <p>Titulo: </p>
    <input type="text" name="titulo" id="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo" id="conteudo"></textarea><br><br>
    <button type="submit" onclick="verificarForms()">Cadastrar postagem</button>
    <br> <br>
    <a href="/"><button class="btnVoltar">Voltar</button></a>
</form>

<style type="text/css">
    .btnVoltar{
        position: relative;
        float: left;
    }

</style>


<script >

    var titulo = document.getElementById("titulo")
    var conteudo = document.getElementById("conteudo")

    function verificarForms(){
        alert('Formulario cadastrado')
}

</script>

<!--Não precisa colocar a estrutura HTML no handlebars-->