<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style='color:red'>Quando o pdf dรก certo</h1>
        <hr>
        <p>Nome: <%= nome %> </p>
        <p>Curso: <%= curso %></p>
        <p>Categoria <%= categoria %></p>
        
</body>
</html>